<!DOCTYPE html>
<html>
<head>
    <title>Industry and Research Experience</title>
</head>
<body>

<h2>Industry / Research Experience</h2>

<form method="post">
    {% csrf_token %}

    <label>Organization</label><br>
    <input name="organization"><br><br>

    <label>Designation</label><br>
    <input name="designation"><br><br>

    <label>Nature of Work</label><br>
    <input name="nature_of_work"><br><br>

    <label>From Date</label><br>
    <input type="date" name="from_date"><br><br>

    <label>To Date</label><br>
    <input type="date" name="to_date"><br><br>

    <a href="{% url 'academic_experience' %}">Previous</a>
    <button type="submit">Next</button>
</form>

</body>
</html>
