<!DOCTYPE html>
<html>
<head>
    <title>Research Publications</title>
</head>
<body>

<h2>Research Publications</h2>

<form method="post">
    {% csrf_token %}

    <label>Title</label><br>
    <textarea name="title"></textarea><br><br>

    <label>Publication Type</label><br>
    <input name="publication_type"><br><br>

    <label>Indexing (Scopus / ISBN / ISSN)</label><br>
    <input name="indexing"><br><br>

    <label>Year</label><br>
    <input name="year"><br><br>

    <a href="{% url 'teaching_experience' %}">Previous</a>
    <button type="submit">Next</button>
</form>

</body>
</html>
