<!DOCTYPE html>
<html>
<head>
    <title>Teaching Experience</title>
</head>
<body>

<h2>Teaching Subjects and Results</h2>

<form method="post">
    {% csrf_token %}

    <label>Subject Name</label><br>
    <input name="subject_name"><br><br>

    <label>Level (UG / PG)</label><br>
    <input name="level"><br><br>

    <label>Result Percentage</label><br>
    <input name="result_percentage"><br><br>

    <a href="{% url 'industry_experience' %}">Previous</a>
    <button type="submit">Next</button>
</form>

</body>
</html>
